/*
* Avoid AD
*/
.js_sh_app_dl_index , .links , #splash_container , .js_sh_app_dl , .share_button , .hots_pinner{
	display: none !important
}

/*
 * Avoid user selection
 */
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
